/* src/Carousel.css */
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: flex; /* Centering the content */
    justify-content: center; /* Centering the content */
    align-items: center; /* Centering the content */
  }
  h1{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .carousel-slide.active {
    opacity: 1;
  }
  
  .carousel img {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: var(--project-card-bg);
    border-radius: 20px;
    display: block;
  }
  
  .carousel a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
  }
  
  .carousel a:hover {
    transform: scale(1.05);
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .carousel-button {
      padding: 5px;
      font-size: 12px;
    }
  
    .carousel img {
      height: auto;
    }
  }
  
  /* Project Container Styles */
  .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  @media (min-width: 800px) {
    .projectsContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 30px;
    }
  }
  